#contenedor
{

    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    position: absolute;

}

body 
{
    overflow-y: hidden; 
    overflow-x: hidden; 
}

#calle
{

    margin-left: 35%;
    width: 30%;
    height: 110%;

}
